<ion-tabs class="tabs-icon-top">

    <ion-tab title="Home" icon="icon ion-home" href="#/app/home/index">
        <ion-nav-view name="home-tab-index"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Friends" icon="icon ion-heart" href="#/app/home/friends">
        <ion-nav-view name="home-tab-friends"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Account" icon="icon ion-gear-b" href="#/app/home/account">
        <ion-nav-view name="home-tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
