
@import "../lib/ionic/scss/_mixins.scss";

/* utilities */
.full-width {
    width: 100%;
}

.sidemenu-avatar {
    display: block;
    text-decoration: none;
    color: #222;
    
    img {
        max-height: 33px;
        max-width: 33px;
        float: left;
        margin: 0px 6px;
        @include border-radius(30px);
    }

    h2 {
        font-size: 14px;
        margin: 0;
    }

    p {
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px;
        margin: 0px;
    }
}
